* {
	font-family: "Trebuchet MS";
}
.index {
	background: url(../img/loket.jpeg);
	height: 1000px;
}
.nav a {
	text-decoration: none;
	color: #fff;
	padding: 10px;
}
a:hover {
	color: darkorange;
}
.fa-facebook {
	font-size: 2em;
}
.fa-instagram {
	font-size: 2em;
}

/*Navigation*/
.navigation {
	background: url(../img/wood.jpg);
	width: 100%;
	color: white;
	z-index: 99;
}
.logo {
	width: 100px;
}
.container {
	display: flex;
	width: 100%;
}
.nav{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}
.nav h1{
	width: 200px;
}
.sign_in {
	background: none;
	border-style: none;
	color: #fff;
	padding: 10px;
}
.sign_in:hover{
	background: rgba(160,160,160,0.2);
}
/*banner*/
.banner {

}

/*products*/
.products {
	background: url("../img/woodback.jpg");
}
.items {
	display:flex;
	flex-wrap: wrap;
}
.item {
	width: 50%;
}
.item img{
	margin-left: 50px;
	width: 400px;
	border: solid saddlebrown 2px;
}
.price {
	display: inline;
	background: linear-gradient(maroon,maroon,saddlebrown,saddlebrown);
	color: white;
	padding: 3px 10px;
	border-radius: 20px;
}
.type_bread {
	font-size: 0.9em;
}
.cost_bread {
	background: linear-gradient(maroon,maroon,saddlebrown,saddlebrown);
	color: white;
	padding: 3px 10px;
	border-radius: 20px;
}
.bread {
	display:flex;
	justify-content: center;
	margin-top: 30px;
	width: 100%;
	background: rgba(177, 104, 30, 0.8);
	font-size: 16px;
}
.name {
	text-decoration: none;
}
.name h2 {
	color: rgba(255,194,126,1);
	background: rgba(149,79,29,0.6);
	display: inline-block;
	padding: 10px;
}

/*bestellen*/
.ubereats {
    color: black;
}
.orders {
    background: #bdc2bc;
}

/*animations*/
@keyframes draaien{
	0%	{ transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@keyframes noTouch {
	100% { 
		margin-left: 1345px;
	}
}
@keyframes goBigger {
	50% {
		font-size: 1.1em;
	}
	100% {
		font-size: 1em;
	}
}

/*fonts*/
